@media(min-width:900px){
    .fundo-login{
       margin: auto;
      width: 660px;
      padding: 220px;
       background-size: cover;
   
  }
  .login {
    background-image: url("https://image.freepik.com/fotos-gratis/fundo-desfocado-das-linhas-de-halteres-pretos-na-prateleira-no-ginasio_42687-402.jpg");
    
    background-size: cover;
  
  
  }
  label{
    color: #FFFFFF;
  
  }
  nav{
    color: #cec5c5;
    text-align: center;
  }
  .campos  input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #cec5c5;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  label{
    color: #FFFFFF;
  
  }
  .password input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #cec5c5;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  } 
  
  }
  
  
  @media(max-width:700px){
  .login {
    background-image: url("https://image.freepik.com/fotos-gratis/fundo-desfocado-das-linhas-de-halteres-pretos-na-prateleira-no-ginasio_42687-402.jpg");
          background-size: cover;
        }
  nav{
      color: #cec5c5;
      text-align: center;
  }
  .fundo-login{
  
      width: 390px;
      padding: 100px;
  }
  .email  input {
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: #cec5c5;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
  .password input {
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: #cec5c5;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    } 
  
  }
  
  h4{
      font-size: 40px;
      color: #1bbeff;
      padding: 2px 0 10px 0;
      font-family: Arial,sans-serif;
      font-weight: bold;
      text-align: center;
      
     
    }
  h1{
      font-size: 15px;
      color: #d3d3d3;
      padding: 2px 0 10px 0;
      font-family: Arial,sans-serif;
      font-weight: bold;
      text-align: center;
      padding-bottom: 30px;
    }
    button{
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #489fc2;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
      
    }
    .cadastrar{
        background-color: #3278a3;
        margin: 9px 0px;
    }
  